.logo{
    margin: 3em 2em;
}

.caja-1{
    display: inline-block;
}

.ingresarTexto{
    display: inline-block;
    margin: 0.5em 2em;
    resize: none;
    font-size: 30px;
    width: 660px;
    height: 400px;
    outline: none;
    /*border: none;*/
}

.caja-2{
    display: inline-block;
}

.copiar{
    display: inline-block;
    width: 5em;
    height: 3em;
}