body{
    background-color: #D8DFE8;
}

.logo{
    margin: 2em auto 1em 2em;

}

.caja-1{
    display: flex;
    flex-direction: row;
    position: relative;
    
}

.advertencia{
    margin-left: 7em;
}

.ingresarTexto{
    background-color: #D8DFE8;
    color: #0A3871;
    resize: none;
    font-size: 30px;
    width: 675px;
    height: 400px;
    outline: none;
    margin: 0px 2em 10px 3em;
    padding: 23px;
    font-family: 'Franklin Gothic Medium';
    border: none;
}

.button1{
    background-color: #0A3871;
    border:1px solid #0A3871;
    color: #e4ebf5;
    font-size: 15px;
    border-radius: 15px;
    position: relative;
    width: 328px;
    height: 67px;
    padding: 24px;
    margin: 10px 12px 30px 6em;
}

.button1:hover{
    background-color: #12509c;
    color: aliceblue;
}

.button2{
    background-color: #D8DFE8;
    border:1px solid #0A3871;
    color: #0A3871;
    font-size: 16px;
    border-radius: 16px;
    position: relative;
    width: 328px;
    height: 67px;
    padding: 24px;
    margin: 10px 20px 30px 3em;
}

.button2:hover{
    background-color: #0A3871;
    color: aliceblue; 
}

.caja-2{
    padding: 30px;
    background-color: white;
    margin-top: 0;
    margin-bottom: 20px;
    border-radius: 16px;
    height: 580px;
    border-style: solid;
    border: 1px solid black;
}

.resultado{
    color: #0A3871;
    position: absolute;
    text-align: left;
    width: 328px;
    height:460px;
    position: relative;
    font-size: 30px;
    padding: 15px;
    border-radius: 20px;
    resize: none;
    border: none;
    outline: none;
}


.copiar{
    background-color: white;
    border:1px solid #0A3871;
    color: #0A3871;
    font-size: 15px;
    border-radius: 16px;
    margin-top: 1em;
    margin-left: 14px;
    width: 330px;
    height: 67px;
    position: relative;   
}

.copiar:hover{
    background-color: #e4ebf5;
}

.sinMensaje{
    background-color: white;
    position: absolute;
    margin-left: 54em;
    text-align: center;
    padding: 30px;
    height: 490px;
    border-radius: 16px;
}

.sinMensaje p{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    color: #0A3871;

}
