.logo{
    margin: 2em auto 1em 2em;

}

.caja-1{
    display: flex;
    flex-direction: row;
    

}

.advertencia{
    margin-left: 11em;
}

.ingresarTexto{
    position: relative;
    resize: none;
    font-size: 30px;
    width: 675px;
    height: 400px;
    outline: none;
    margin: 0 4em 1em 5em;
    /*border: none;*/
}

.button1{
    background-color: white;
    border:1px solid #0A3871;
    color: #0A3871;
    font-size: 15px;
    border-radius: 15px;
    position: relative;
    width: 328px;
    height: 67px;
    padding: 24px;
    margin: 10px 0 30px 10em;
}

.button1:hover{
    background-color: #0A3871;
    color: aliceblue;
}

.button2{
    background-color: #D8DFE8;
    border:1px solid #0A3871;
    color: #0A3871;
    font-size: 16px;
    border-radius: 16px;
    position: relative;
    width: 328px;
    height: 67px;
    padding: 24px;
    margin: 10px 30px 30px 2em;
}

.button2:hover{
    background-color: #0A3871;
    color: aliceblue; 
}

.caja-2{
    display: flex;
    flex-direction: row;
}


.resultado{
    align-items: stretch;
    width: 328px;
    height: 460px;
    position: relative;
}


.copiar{
    background-color: white;
    border:1px solid #0A3871;
    color: #0A3871;
    font-size: 15px;
    border-radius: 16px;
    margin-top: 2em;
    width: 328px;
    height: 67px;
    position: relative;   
}